name: Cypress Tests Continuos Integration

on: [push, pull_request]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22.

      - name: Instalar dependências da aplicação
        run: cd hub-de-leitura-integrado && npm install

      - name: Subir aplicação em background
        run: cd hub-de-leitura-integrado && npm start &

      - name: Instalar dependências dos testes
        run: npm install

      - name: Executar testes Cypress
        run: npx cypress run
